@{
    ViewBag.Title = "Contact Us:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sightseet<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    0123.456.789
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:admin@sightseer.com">admin@sightseer.com</a><br />
</address>